// Define variables
$primary-color: #2E8BC0;
$secondary-color: #B1D4E0;
$border-radius: 4px;
$font-size: 16px;


// .main-sections {
//   .accordion-button {
//     background-color: $primary-color;
//     color: #FFF;
//   }
// }

.table {
  th, td {
    white-space: nowrap;
  }
  
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #FFF;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: #FFF;
  }
}

.accordion-item {
  .accordion-item {
    position: sticky;
    top: 0;

    .table-responsive {
      max-height: 80vh;
    }
  }
}
