// Define variables
$primary-color: #0C2D48;
$secondary-color: #b9d6f2; 
$font-size: 12px;
$success: #25a244;
$danger: #c52233;

html {
  font-size: $font-size;
}
.navbar {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  .navbar-brand {
    color: #5b5b5b;
  }
}
.profile {
  margin: 1.2rem 0;
  img {
    max-width: 100px;
    float: right;
    border-radius: 50%;
    border: 1px rgba(0,0,0,.1);
    border-style: solid;
  }
  .greetings {
    font-size: 1.2rem;
  }
}
.accordion-body {
  padding: 0.3rem;
}
.success-text { color: $success;}
.danger-text { color: $danger;}
.main-sections {
  .accordion-button {
    // background-color: $primary-color;
    // color: #FFF;
    font-size: 1.4rem;
    &:not(.collapsed) {
      background-color: #eee;
    }
  }
  .accordion-item {
    .accordion-item {
      .accordion-button {
        // background-color: $secondary-color;
        // color: #000;
        font-size: 1.2rem;
      }
    }
  }
}

.table {
  th, td {
    white-space: nowrap;
    padding: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    small {
      font-weight: 300;
      text-transform: capitalize;
    }
    &:first-child {
      padding-right: 2rem;
    }
  }
  
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #FFF;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: #FFF;
  }
}

.accordion-item {
  .accordion-item {
    position: sticky;
    top: 0;

    .table-responsive {
      max-height: 80vh;
    }
  }
}
