// Define variables
$primary-color: #0C2D48;
$secondary-color: #b9d6f2; 
$font-size: 12px;
$success: #25a244;
$danger: #c52233;

body {
  font-size: $font-size;
}
.accordion-body {
  padding: 0.3rem;
}
.success-text { color: $success;}
.danger-text { color: $danger;}
.main-sections {
  .accordion-button {
    background-color: $primary-color;
    color: #FFF;
    &:after {
      color: #FFF;
    }
    
  }
  .accordion-item {
    .accordion-item {
      .accordion-button {
        background-color: $secondary-color;
        color: #000;
      }
    }
  }
}

.table {
  th, td {
    white-space: nowrap;
    padding: 0.3rem;
    span {
      font-weight: bold;
    }
  }
  
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #FFF;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: #FFF;
  }
}

.accordion-item {
  .accordion-item {
    position: sticky;
    top: 0;

    .table-responsive {
      max-height: 80vh;
    }
  }
}
